
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="javascript:void(0)" class="defaultStyleAnchor navbar-brand">
      <h1 class="displayHeader"><span class="displayShop">Shop</span>Bridge</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" routerLink="/category/Fashion">Fashion</a></li>
            <li><a class="dropdown-item" routerLink="/category/Accessories">Accessories</a></li>
            <li><a class="dropdown-item" routerLink="/category/Books">Books</a></li>

            
          </ul>
        </li>
       
      </ul>
      
      <div class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchQuery>
        <button class="btn btn-outline-primary" type="button" (click)="search(searchQuery.value)">Search</button>
    
      </div>
      <li class="nav-item dropdown">
      
        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
          <li><a class="dropdown-item" href="">Action</a></li>
          
          
        </ul>
      </li>
      <a href="javascript;void(0)"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <span class="material-icons-outlined">
          <img src="./assets/2x/account.png" srcset="../assets/1x/account.png 800w, ../assets/2x/account.png 2000w" alt="User">

          </span>
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Welcom {{user.userName ? user.userName : 'User'}}</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ng-container *ngIf="!user.admin else adminBlock">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput type="text" name="userName" placeholder="Please Enter Your Username" [(ngModel)] = "user.userName">
            </mat-form-field>
          <br>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" name="password" placeholder="Please Enter Your Password" [(ngModel)] = "user.password">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
          </form>
          
          <span style="color: green;" *ngIf="success">
         Login Success 
          </span>
         
            </ng-container>
            <ng-template #adminBlock>
              <ul class="list-group">
                <a  routerLink="/admin/allProducts"  data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action">List All Product</a>
               
              </ul>
            </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>






<router-outlet></router-outlet>